.load_zone {
    height: 235px;
    border: 1px dashed darkgrey;
    margin: 10px 5px 0 0;

}

#drop_zone {
    margin-top: 45px;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    border-radius: 30px;
}